Options -Indexes
RewriteEngine On
RewriteRule ^(?:system|vendor|content|storage)(?:/|$) - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<FilesMatch "^\.">
  Require all denied
</FilesMatch>

<FilesMatch "\.php$">
  Require all denied
</FilesMatch>

<FilesMatch "^index\.php$">
  Require all granted
</FilesMatch>
