[Unit]
Description=Run Lightdocs background jobs every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
Persistent=true
Unit=lightdocs-cron.service

[Install]
WantedBy=timers.target
